/* FOOTER */

.footer {
    margin: auto;
    padding-top: 10%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 5vw;
    gap: auto;
}

.footer-content p {
    text-align: left;
    margin-left: 0;
    text-shadow: none;
}

.footer-content a:link {
    color: white;
}

.footer-content a:active {
    color: red;
}

.footer-content a:visited {
    color: white;
}

.footer-content a:hover {
    color: red;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1vw;
}

.resume-button {
    margin: auto;
    text-align: center;
}

.resume-icon {
    width: 7vw;
    height: 7vw;
    border-radius: 25%;
    border: white 0.2vw solid;
}

/* Media Queries for smaller screens */

@media (max-aspect-ratio: 1.4 / 1) {

    .preview-image-section {
        height: 40vw;
    }

    .preview-image {
        background-size: contain;
    }
}

/* TABLET FORMAT */

@media (max-width: 1200px) {
    .footer {
        font-size: 1.5vw;
    }
}

@media (max-width: 992px) {
    .footer {
        font-size: 1.8vw;
    }
}

/* PHONE FORMAT */
@media (max-width: 768px) {
    .footer {
        font-size: 2.5vw;
    }

    .resume-icon {
        width: 15vw;
        height: 15vw;
        border-radius: 25%;
        border: white .5vw solid;
    }
}