@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/* HEADER */

header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 4vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

header li {
  text-decoration: none;
  color: white;
  list-style: none;
  display: inline-block;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
}

header a {
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

header a:hover {
  font-size: 1.75vw;
  text-decoration: underline;
  color: rgb(200, 45, 45);
  transition: all 0.2s ease-in-out;
}

header li + li a {
  margin-left: 4vw;
}


/* Nav map icon and animations are all scalable. The only thing that needs to be adjusted is the "top", "right", and "font-size" properties under the .nav-map class to move the icon around and change the size. */
.nav-map {
  position: fixed;
  /* top: 1vw; */
  right: 3vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding: 0;
  margin: 0;
  gap: 0;
  z-index: 999;

  width: 8em;
  height: auto;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
}

.disappear-on-load {
  position: absolute;
  top: calc(50% - 1.25em);
  left: -16em;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  color: white;
  padding: .5em 1.5em;
  font-size: 1.25em;
  text-align: center;
  pointer-events: none;;
  z-index: 1001;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.nav-map-overflow-container {
  position: absolute;
  top: 0;
  right: 5em;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding: 0;
  margin: 0;
  gap: 0;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map-image {
  position: absolute;
  top: 0;
  right: -8em;
  
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-rolled-map-image {
  position: absolute;
  top: 0em;
  right: 0em;

  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map:after {
  content: "Map";
  position: absolute;
  /* top: 4.6em; */
  width: 8em;
  height: 3em;
  text-align: center;
  font-size: 1.5em;
  overflow: visible;
}

.nav-map-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  min-height: min-content;
  /* top: 10em; */
  background-color: rgba(0, 0, 0, .65);
  padding: 1em;
  border-radius: 20px;
  box-shadow: inset 0vw 0vw .5em .5em rgba(80, 80, 80, .5);
  margin: 0;
  gap: .5em;
  opacity: 0;
  z-index: 1001;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map-list li {
  list-style: none;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* MY Work Header */

.background-container-top {
  background: black;
}

.header-container {
  font-size: 1vw;
  margin-top: 3vw;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(117, 8, 8, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.header-container h1 {
  font-size: 10em;
  font-weight: 500;
  text-shadow: 0vw -1vw 1vw rgba(0, 0, 0, 1);
}

/* INTRODUCTION SECTION */
/* CREDIT: Stack container section code taken from www.joelperezdev.com */
/* Icons used were taken from devicon.dev. */
/* All listed technologies are included as a deliberate descision based on my personal familiarities and proficiencies. */

.introduction-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.introduction-content {
  margin: auto;
  margin-block: 5vw;
  padding-inline: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 1.5vw;
  background-image: url(../images/Background_Map_Alt.png);
  background-size: cover;
  background-position: center;
}

.introduction-section h3 {
  font-size: 2.5em;
  font-weight: 500;
  width: max-content;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.introduction-section p {
  margin: auto;
  text-align: left;
  font-size: .8em;
  font-weight: 300;
  text-align: left;
  line-height: 1.4em;
  margin: auto;
  padding: 0;
  padding-bottom: 3rem;
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

p .emphasise {
  font-weight: 500;
  font-style: italic;
  font-size: 1.5em;
}

.introduction-section .stack-container {
  max-width: 1000px;
  /* min-width: 350px; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2.5em;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-image {
  width: 65px;
  height: 65px;
  /* overflow-clip-margin: content-box;
  overflow: clip; */
}

.icon-container p {
  margin: 0;
  font-size: 1.2em;
  padding: .5em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Specific image hovers */

.icon-container:after {
  content: attr(data-years);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0, 0);
  font-size: 1.2em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.icon-container:hover::after {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  transition: all 0.2s ease-in-out;
}

/* WORK LIST SECTION */

.background-container-bottom {
  background:
radial-gradient(hsl(0, 100%, 18%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 18%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 16%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 16%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;
}

.seemless-background-transition {
  font-size: 1vw;
  position: relative;
  padding-bottom: 40rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}

.gallary-garnish {
  position: absolute;
  margin: auto;
  padding: auto;
  width: 40rem;
  top: 7rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
}

.seemless-background-transition h2 {
  font-size: 10rem;
  font-weight: 200;
  text-shadow: 0vw -1vw 1vw rgba(0, 0, 0, 1);

  position: absolute;
  margin: auto;
  padding: auto;
  top: 15rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
}

.seemless-background-transition p {
  position: absolute;
  margin: auto;
  padding: auto;
  width: max-content;
  top: 30rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
  font-size: 1.2rem;
  color: rgb(255, 255, 255, .75);
}

.listed-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4vw;
}

.listed-project {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 75%;
  height: min-content;
  margin-top: 0%;
  padding: 1vw;
  margin-bottom: 7.5vw;;
}

/* CREDIT: Picture frame styling code adapted from Saidel López at https://medium.com/@saishaddai/til-css-to-draw-a-frame-from-a-picture-2b0cfcf67c9a */

.listed-project-image-container {
  width: 100%;
  font-size: 1vw;  /* Only thing needing adjustment for changing thickness of frame. Maintains scalability for any size with one quick adjustment. */
  position: relative;
  display: inline-block; /* Ensures it only wraps around the content */

  background-color: #ddc;
  border: solid 2.5em #eee;
  border-radius: .5em;
  border-bottom-color: #fff; /* #fff (old colors for reference)*/
  border-left-color: #eee;  /* #eee */
  border-right-color: #eee; /* #eee */
  border-top-color: #fff; /* #ddd */
  box-shadow: .4em -.6em 1em 0 rgba(0, 0, 0, .25) inset, 1em -1.5em .5em .1em rgba(0, 0, 0, .25);

  box-sizing: border-box;
  margin: auto;
  aspect-ratio: 1 / 1;
  padding: 1.5em;
  position: relative;
  text-align: center;

  &:before {
    position: absolute;
    border-radius: .1em;
    bottom: -1.25em;
    box-shadow: .25em -.5em 1.25em 0 rgba(0, 0, 0, .25);
    content: "";
    left: -1.25em;
    right: -1.25em;
    top: -1.25em;
  }
  
  &:after {
    position: absolute;
    border-radius: .1em;
    bottom: -1.25em;
    box-shadow: .25em -.5em 1.25em 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -1.25em;
    right: -1.25em;
    top: -1.25em;
  }
}

/* CREDIT: Picture frame styling code taken from an anonymous Fiddle user at https://jsfiddle.net/cybPh/ */

.listed-project-image:before {
  border-left: .2em solid #222;
  border-top: .2em solid #222;
  /* border-radius: .3em; */
  box-shadow: -.1em -.2em .1em rgba(0, 0, 0, .3);
  content: '';
  height: 8.3em;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: -8.81em;
  translate: -50% 0;
  transform: rotate(45deg);
}

.listed-project-image:after {
    background: #555;
    border-radius: 50%;
    box-shadow: inset 0 .1em .1em hsla(0,0%,100%,.3),
                0 .2em .4em hsla(0,0%,0%,.6);
    content: '';
    height: .6em;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -10.7em;
    translate: -50% 0;
}

.listed-project-image {
  width: 20em;
  aspect-ratio: 1 / 1;
  border-radius: 0%;
  background-size: cover;
  background-position: center;
  position: relative;
  border: solid .5em;
  border-bottom-color: #ccb;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ffe;
}

.listed-project-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2vw;
}

.listed-project p {
  text-align: left;
  font-size: 1em;
  line-height: 1.6em;
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
}

.listed-project-description {
  padding: 2%;
  padding-left: 5%;
  border-right:rgb(150, 8, 8) .4em double;
  border-top: rgb(150, 8, 8) .4em double;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.listed-project-name {
  font-size: 1.9em;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}

.listed-project-details {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
}

.further-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 500;
  /* text-decoration: underline; */
  color: rgb(155, 155, 155);
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
}

.further-detail-item {
  margin: auto;
  margin-left: 0;
  margin-top: 0;
}

.further-details li {
  display: flex;
  flex-direction: row;
}

.listed-project-language-logo {
  width: 1.5em;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  align-items: center;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: fit-content;
  justify-content: center;
  align-content: space-between;
  padding-inline: 1em;
  gap: 1em;
  
  /* padding: 2%;
  border-left:rgb(150, 8, 8) .4em double;
  border-top: rgb(150, 8, 8) .4em double;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%; */
}
  
.project-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  height: 1.8em;
}

.project-button {
  padding: .5em .5em;
  font-size: .8em;
  font-weight: 200;
  font-style: italic;
  color: white;
  width: 100%;
  background-color: rgb(25, 8, 8);
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  /* box-shadow: -.4em .6em 1em 0 rgba(0, 0, 0, .25) inset, .2em -.3em .5em .1em rgba(0, 0, 0, .25); */
  box-shadow: -.4em .6em .5em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .5em 0 rgba(70, 70, 70, 0.25) inset, .1em -.15em .5em .1em rgba(0, 0, 0, .40);
  transition: all 0.2s ease-in-out;
}

.project-button:hover {
  font-size: .78em;
  box-shadow: -.4em .6em .3em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .3em 0 rgba(0, 0, 0, .25) inset, 0 0 .2em .1em rgba(0, 0, 0, .40);
  /* background-color: rgb(7, 158, 39); */
  transition: all 0.3s ease-in-out;
}

/*// Glow Border Animation //*/

.project-button-glow, .project-button-container-glow {
  overflow: hidden;
  border-radius: 0.5em;
  /* box-shadow: 0 0 .2em .1em rgba(0, 0, 0, .25); */
  /* z-index: 0; */
}

.project-button-container-glow {
  overflow: hidden;
  height: 2.025em;
  background-color: rgb(25, 8, 8);
  box-shadow: -.4em .6em .5em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .5em 0 rgba(70, 70, 70, 0.25) inset, .1em -.15em .5em .1em rgba(0, 0, 0, .40);
  /* Glow Blur */
  filter: blur(0px);
  transition: all 0.2s ease-in-out;
}

.project-button-container-glow:hover {
  box-shadow: -.4em .6em .3em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .3em 0 rgba(0, 0, 0, .25) inset, 0 0 .2em .1em rgba(0, 0, 0, .40);
  transition: all 0.3s ease-in-out;
}

.project-button-container-glow:hover .project-button-glow {
  font-size: .78em;
  transition: all 0.3s ease-in-out;
}

.project-button-container-glow:hover .project-button-glow:after {
  box-shadow: -.205em .405em .3em 0 rgba(0, 0, 0, .25) inset, .205em -.405em .3em 0 rgba(0, 0, 0, .25) inset;
  transition: all 0.3s ease-in-out;
}

.project-button-glow {
  font-size: .8em;
  font-weight: 500;
  color: white;
  width: 100%;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  /* box-shadow: -.4em .6em 1em 0 rgba(0, 0, 0, .25) inset, .2em -.3em .5em .1em rgba(0, 0, 0, .25); */
}

.project-button-glow:before, .project-button-container-glow:before {
  content: '';
  /* z-index: -2; */
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 999px;
	height: 999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #ff0000, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 3s linear infinite;
}

.project-button-glow:after {
	content: 'Read More';
  /* z-index: -1; */
  text-align: center;
  font-weight: 200;
  font-style: italic;
  align-content: center;
	position: absolute;
	/* z-index: -1; */
  /* border width */
	left: .195em; /* 5px on a 2k screen */
	top: .195em;
  /* double the px from the border width left */
	width: calc(100% - .39em); /* 10px */
	height: calc(100% - .39em);
  
	background: rgb(25, 8, 8);
  box-shadow: -.205em .405em .5em 0 rgba(0, 0, 0, .25) inset, .205em -.405em .5em 0 rgba(70, 70, 70, 0.25) inset;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

/*// Border Animation END//*/

/* FOOTER */

.footer {
  position: relative;
  margin: auto;
  padding-top: 25%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw; /* Adjust font size */
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
  background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  color: white;
  z-index: 1001;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: auto;
}

.footer-content p {
  text-align: left;
  margin-left: 0;
}

.footer-content a:link {
  color: white;
}

.footer-content a:active {
  color: red;
}

.contact-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.resume-button {
  margin: auto;
  text-align: center;
}

.resume-icon {
  width: 7vw;
  height: 7vw;
  border-radius: 25%;
  border: white 0.2vw solid;
}

/* Media Queries for smaller screens */

/* TABLET FORMAT */

@media (max-width: 1200px) {
  header {
    height: 6vw;
  }

  header li {
    font-size: 1.8vw;
  }

  header a:hover {
    font-size: 2vw;
  }

  .footer {
    font-size: 1.5vw;
  }
}

@media (max-width: 992px) {
  header {
    height: 7vw;
  }

  header li {
    font-size: 2vw;
  }

  header a:hover {
    font-size: 2.2vw;
  }

  .stack-container {
    width: 92vw;
  }

  .footer {
    font-size: 1.8vw;
  }
}

/* ANYTHING LARGER THAN PHONE */
@media (min-width: 769px) {
  .nav-map {
    top: 1vw;
  }

  .nav-map:after {
    top: 4.6em;
  }

  .nav-map-list {
    top: 10em;
  }

  .nav-map:hover .nav-map-overflow-container {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-map-image {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-rolled-map-image {
    right: -3em;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-map-list {
    pointer-events: all;
    opacity: 1;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map-list li:hover {
    background-color: rgba(0, 0, 0, .5);
    color: rgb(200, 45, 45);
    transition: all 0.2s ease-in-out;
    cursor: default;
  }

  .github-button {
    padding-right: 1.8em;
  }

  .further-details {
    width: 70%;
  }
}

/* PHONE FORMAT */
@media (max-width: 768px) {
  header {
    height: 10vw;
  }

  header li {
    font-size: 3vw;
  }

  header a:hover {
    font-size: 3.5vw;
  }

  .nav-map {
    font-size: 3vw;
    bottom: 0vw;
    right: 5vw;
  }

  .nav-map:after {
    bottom: 4.6em;
    height: auto;
    padding-top: 1em;
    text-shadow: -.1em -.1em rgba(0, 0, 0, 1), .1em -.1em rgba(0, 0, 0, 1), -.1em .1em rgba(0, 0, 0, 1), .1em .1em rgba(0, 0, 0, 1),
    0 -.1em rgba(0, 0, 0, 1), .1em 0 rgba(0, 0, 0, 1), -.1em 0 rgba(0, 0, 0, 1), 0 .1em rgba(0, 0, 0, 1);
  }

  .nav-map-list {
    bottom: 10em;
  }

  .nav-map.hover-simulated .nav-map-overflow-container {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-map-image {
    right: 0em;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-rolled-map-image {
    right: -3em;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-map-list {
    pointer-events: all;
    opacity: 1;
    transition: all var(--transition-speed) ease-in-out;
  }

  .header-container {
    font-size: 1.8vw;
  }

  .introduction-content {
    font-size: 3vw;
  }

  .introduction-content p {
    font-size: 1em;
    line-height: 1.8em;
  }

  .gallary-garnish {
    width: 80em;
    top: 20em;
  }

  .seemless-background-transition {
    padding-bottom: 90em;
  }
  
  .seemless-background-transition h2 {
    font-size: 20em;
    top: 1.8em;
  }
  
  .seemless-background-transition p {
    font-size: 3em;
    top: 22em;
  }

  .listed-projects {
    font-size: 3vw;
  }

  .listed-project {
    flex-direction: column;
    margin-bottom: 15vw;
  }

  .listed-project-link {
    margin-bottom: 5vw;
  }

  .listed-project-image-container {
    font-size: 2vw;
  }

  .listed-project-image {
    width: auto;
  }

  .listed-project-image:before {
    height: 8.3em;
    top: -8.81em;
  }
  
  .listed-project-image:after {
      height: .6em;
      top: -10.7em;
  }

  .listed-project-content {
    margin-left: 0vw;
  }

  .listed-project-description {
    padding: 4% 0% 4% 4%;  /* top right bottom left */
    border-left:rgb(150, 8, 8) .4em double;
    border-right:none;
    border-top: rgb(150, 8, 8) .4em double;
    border-top-right-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2em;
  }
  
  .listed-project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .further-details {
    margin-bottom: 4vw;
  }

  .further-detail-item {
    margin: auto;
    margin-left: auto;
    margin-top: auto;
  }
  
  .project-button-container {
    width: 30%;
  }

  .project-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-block: 2vw;
    padding-inline: 0;
  }

  .project-button {
    font-size: .9em;
  }

  .project-button:hover {
    font-size: .88em;
  }

  .project-button-container-glow {
    width: 30%;
    height: 2.256em;
    margin-top: 0;
    padding-top: 0;
  }

  .project-button-glow {
    font-size: .9em;
  }
  
  .project-button-container-glow:hover .project-button-glow {
    font-size: .88em;
    transition: all 0.3s ease-in-out;
  }

  .footer {
    font-size: 2.5vw;
  }

  .resume-icon {
    width: 15vw;
    height: 15vw;
    border-radius: 25%;
    border: white .5vw solid;
  }
}

@media (max-width: 576px) {
  header {
    height: 12vw;
  }

  header li {
    font-size: 3.5vw;
  }

  header a:hover {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  header {
    height: 14vw;
  }

  header li {
    font-size: 3.8vw;
  }

  header a:hover {
    font-size: 4.5vw;
  }
}