@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(30, 40, 75);
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px),
        linear-gradient(180deg, rgba(30,40,75,1) 0%, rgba(25,30,60,1) 100%);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100% 100%;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* p {
    cursor: default;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: left;
} */

/* OVERLAY STYLES */

#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#image-overlay.hidden {
    display: none;
}

.overlay-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

#overlay-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-arrow {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    z-index: 2001;
}

#prev-image {
    left: 10px;
}

#next-image {
    right: 10px;
}

.close-button {
    position: absolute;
    top: 5vh;
    right: 5vw;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2001;
}

/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
  
header li {
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
}
  
header a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

header a:hover {
    font-size: 1.75vw;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
  
header li + li a {
    margin-left: 4vw;
}

/* PREVIEW IMAGE SECTION */

.preview-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vw;
}

.preview-image {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-size: cover;
    background-position: center 0vw;
    background-repeat: no-repeat;
    z-index: -1;
}

.preview-image-section h1 {
    position: absolute;
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 1);
    font-size: 6vw;
    font-weight: 100;
    cursor: default;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
}

/* .project-name {
  filter:blur(0vw);
  transition: all 0.5s ease-in-out;
}

.project-name:hover {
  filter:blur(100vw);
  transition: all 0.5s ease-in-out;
} */

/* SUMMARY SECTION */

.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 5vw 10vw;
}

.summary-content h2 {
    font-size: 4vw;
    font-weight: 200;
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 1);

    transition: all 0.3s ease-in-out;
}

.summary-content h2:hover {
  cursor: default;
  font-size: 4.2vw;
  font-weight: 500;
  text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 1);

  transition: all 0.3s ease-in-out;
}

/* DETAILS SECTION */

.details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
  
.info-card {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    margin-top: 0%;
    padding: 1vw;
    margin-bottom: 7.5vw;;
}
  
.image-container {
    width: 100%;
    height: 25vw;
    display: flex;
    margin: auto;
    padding: 1.5vw;
}
  
.image {
    width: auto;
    height: 100%;
    display: flex;
    margin: auto;
    background-size: cover;
    background-position: center;
    
}
  
.info-content {
    display: flex;
    text-align: left;
    margin-left: 2vw;
}
  
.info-card p {
    text-align: left;
    margin-top: 1vw;
    font-size: 1.5vw;
}
  
.info-hook {
    cursor: default;
    font-size: 3vw;
    font-weight: 500;
    margin-right: 1vw;
    font-style: italic;
    text-decoration: underline;
    text-align: left;

    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.info-hook:hover {
    font-size: 3.1vw;
    text-shadow: 0vw 1vw 1vw rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

/* FOOTER */

.footer {
  margin: auto;
  padding-top: 8%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw; /* Adjust font size */
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
  background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: auto;
}

.footer-content p {
  text-align: left;
  margin-left: 0;
}

.footer-content a:link {
  color: white;
}

.footer-content a:active {
  color: red;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.resume-button {
  text-align: center;
}

.resume-icon {
  width: 7vw;
  height: 7vw;
  border-radius: 25%;
  border: white 0.2vw solid;
}

  /* QUICK COLOR PALETTE AND FONT CUSTOMIZATION FOR ALL DETAILS PAGES */

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(64, 135, 64);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 220, 50);
}

p {
  font-family: 'Poppins', sans-serif;
}

header a:hover {
  color: rgb(64, 135, 64);
}

.preview-image {
    box-shadow: inset 0px 0px 10vw 3vw rgba(30, 40, 75, 1);
}

.below-preview {
  background-color: rgb(30, 40, 75);
  background-image:
      radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
      radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
      radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px),
      linear-gradient(180deg, rgba(30,40,75,1) 0%, rgb(20, 25, 50) 100%);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100% 100%;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.info-hook {
  color: rgb(255, 220, 50);
}

/* Media Queries for smaller screens */

/* TABLET FORMAT */

@media (max-width: 1200px) {
  header {
      height: 6vw;
  }

  header li {
      font-size: 1.8vw;
  }

  header a:hover {
      font-size: 2vw;
  }

  .footer {
      font-size: 1.5vw;
  }
}

@media (max-width: 992px) {
  header {
      height: 7vw;
  }

  header li {
      font-size: 2vw;
  }

  header a:hover {
      font-size: 2.2vw;
  }

  .footer {
      font-size: 1.8vw;
  }
}



/* PHONE FORMAT */
@media (max-width: 768px) {
    .nav-arrow {
        font-size: 5rem;
    }

    #prev-image {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #next-image {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

  header {
      height: 10vw;
  }

  header li {
      font-size: 3vw;
  }

  header a:hover {
      font-size: 3.5vw;
  }

  .footer {
      font-size: 2.5vw;
  }

  .resume-icon {
      width: 15vw;
      height: 15vw;
      border-radius: 25%;
      border: white .5vw solid;
  }
}

@media (max-width: 576px) {
  header {
      height: 12vw;
  }

  header li {
      font-size: 3.5vw;
  }

  header a:hover {
      font-size: 4vw;
  }
}

@media (max-width: 480px) {
  header {
      height: 14vw;
  }

  header li {
      font-size: 3.8vw;
  }

  header a:hover {
      font-size: 4.5vw;
  }
}