@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    /* background: radial-gradient(circle, rgba(157,110,16,1) 0%, rgba(121,9,9,1) 35%, rgba(0,0,0,1) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(117,8,8,1) 50%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
}

main{
    min-height: 100vh;
}

.header{
    width: 100%;
    height: auto;
    aspect-ratio: 7 / 1; /* Maintains aspect ratio so background image never leaks over borders */
    background-size: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000;
}

.portrait-box{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://image.freepik.com/free-vector/black-red-metal-background_71775-391.jpg);
    background-size: cover;
    background-clip: content-box;
    aspect-ratio: 3 / 1; /* Maintains aspect ratio so background image never leaks over borders */
}

.portrait{
    border: inset 10px rgb(200, 0, 0);
    margin: auto;
    width: 11vw;
    height: 11vw;
    background-size: cover;
    border-radius: 50%;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSbYr8DEIDl5FPpz3uPrCMItkI6QSgTlY3cyDt0ww=s900-c-k-c0x00ffffff-no-rj); /* My Logo as a fallback */
}

.summary-box {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-text{
    margin: 0.5vw;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2vw;
}

.profile-box{
    background: rgb(117,8,8);
    background: linear-gradient(0deg, rgba(117,8,8,1) 0%, rgba(37,3,3,1) 100%);
    /* border-left: dotted 0.52vw grey;
    border-bottom: dotted 0.52vw grey;
    border-right: dotted 0.52vw grey; */
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 95%;
    /* height: 37vh; */
    padding: 1vw;
    padding-bottom: 4vw;
    margin: auto;
    font-size: 1.2vw;
}

.profile-text{
    padding-left: 2vw;
    font-size: 1.8vw;
}

.everything-else {
    padding: 1%;
}

.experience-skills {
    width: 100%;
    padding: 2vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: grid;
    grid-template-rows: auto auto;
}

.experience, .skills {
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    font-size: 1.2vw;
}

.box2-header{
    /* border: outset 0.5vw white; */
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 3vw;
    box-shadow: 0vw 1vw 1vw rgba(0, 0, 0, .2);
}

.experience-header {
    width: 75%;
    border-top: rgb(200, 150, 150) 0.2vw solid;
    border-bottom: rgb(63, 8, 8) 0.2vw solid;
    border-radius: 25%;
}

.skills-header {
    width: 75%;
    border-top: rgb(200, 150, 150) 0.2vw solid;
    border-bottom: rgb(63, 8, 8) 0.2vw solid;
    border-radius: 25%;
}

.experience-cards, .education-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.education-cards {
    height: calc(100% - 6vw);
}

.card-type1 {
    width: calc(50% - 1vw);
    min-height: 100%;
    /* border: 0.2vw solid rgb(92, 9, 9); */
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: rgb(117,8,8);
    background: linear-gradient(0deg, rgba(117,8,8,1) 0%, rgba(37,3,3,1) 70%, rgba(0,0,0,1) 100%);
}

.experience-card {
    margin-top: 0;
    margin-bottom: 0;
    background: rgb(117,8,8);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(37,3,3,1) 40%, rgba(117,8,8,1) 100%);
}

.card-type1-header {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vw;
    background: rgb(157,110,16);
    background: radial-gradient(circle, rgba(40,8,8,1) 0%, rgba(0,0,0,0) 100%);
}

.education-card-header {
    background: rgb(157,110,16);
    background: radial-gradient(circle, rgba(100,8,8,1) 0%, rgba(0,0,0,0) 100%);
}

.card-type1-logo {
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5vw;
    background-size: cover;
    background-position: center;
    margin-right: 1vw;
}

.card-type1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-type1-title {
    margin-left: 0;
}

.card-type1-name {
    font-size: 1.2vw;
    margin: 0;
}

.card-type1-duration {
    font-size: 1vw;
    margin: 0;
}

.card-type1-description {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-type1-bullet {
    font-size: 1.2vw;
    flex-grow: 1;
    padding-bottom: 1vw;
}

.skills-lists {
    width: 100%;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1vw;
}

.skills-list {
    width: 30%;
    padding: 1vw;
    margin-top: 3%;
    text-align: left;
    font-size: 1.5vw;
}

.education-proof {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5vw;
}

.education, .proof-of-work {
    padding: 1vw;
    padding-top: 0%;
    margin-top: 0;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.2vw;
}

.education {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.box3-header{
    font-size: 3vw;
    margin-bottom: 2vw;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.project {
    text-align: center;
    width: 30%;
    margin-top: 0%;
    padding: 1vw;
}

.project-image-container {
    width: 100%;
    position: relative; /* Needed for absolute positioning */
    display: inline-block; /* Ensures it only wraps around the content */
}

.project-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position:relative;
    border: 0.2vw solid rgb(128, 128, 128);
}

/* hover effect */

.project-image::before {
    content:'';
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    border-radius: 100%;
    transition: 2s linear; /* Defines how long the button effect will take place for. */
    z-index: -2;
    filter:blur(.5vw);
  }
  
.project-image::after {
    z-index: -1;
  }   
  
.project-image:hover::before {
     filter:blur(100vw);
     background:linear-gradient(45deg, #ff0707, #ff920c,#ffee00);
     transform: rotate(-4deg);
  }

.project-language-logo {
    position: absolute;
    bottom: 0%; /* use + to move up and - to move down */
    right: 0%; /* use + to move left and - to move right */
    width: 30%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px .3vw rgba(0, 0, 0, 1);
    align-items: center;
}

.project p {
    text-align: left;
    margin-top: 1vw;
    font-size: 1.2vw;
}

.project-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1vw;
    gap: 1vw;
}

.project-button-taped-over {
    padding: 0vw 1vw;
    font-size: 1vw;
    color: white;
    width: 100%;
    background-color: rgb(100, 8, 8);
    text-decoration: none;
    text-align: center;
    border: .5vw solid pink;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 1vw,
        #ffb101 1vw,
        #ffb101 2vw
    ) 10;
}

.project-button {
    padding: .5vw 1vw;
    font-size: 1vw;
    color: white;
    width: 100%;
    background-color: rgb(100, 8, 8);
    border-radius: 0.5vw;
    text-decoration: none;
    text-align: center;
}

.project-button:hover {
    background-color: rgb(0, 0, 0, 0);
}

.footer{
    margin: auto;
    padding-top: 8%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2vw; /* Adjust font size */
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.resume-button {
    text-align: center;
}

.resume-icon {
    width: 7vw;
    height: 7vw;
    border-radius: 25%;
    border: white 0.2vw solid;
}

/* Media Queries for smaller screens */

/* TABLET FORMAT */

@media (max-width: 1200px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
    }

    .portrait {
        width: 25vw;
        height: 25vw;
    }

    .summary-box {
        margin-top: 0vw;
        margin-bottom: 0vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .summary-text {
        font-size: 1.5vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }


    .profile-box {
        height: auto;
    }

    .profile-text {
        font-size: 2vw;
    }

    .footer {
        font-size: 1.5vw;
    }
}

@media (max-width: 992px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
    }

    .summary-text {
        font-size: 1.8vw;
    }

    .profile-box {
        height: auto;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }

    .profile-text {
        font-size: 2.2vw;
    }

    .box2-0 {
        font-size: 1.8vw;
    }

    .footer {
        font-size: 1.8vw;
    }
}



/* PHONE FORMAT */
@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
    }

    .summary-text {
        font-size: 2vw;
    }

    .profile-box {
        height: auto;
    }

    .profile-text {
        font-size: 3vw;
    }

    .box2-header {
        padding: 0;
        padding-bottom: 5vw;
        border: none;
        font-size: 12vw;
        text-decoration:overline;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .box3-header {
        font-size: 12vw;
        text-decoration:overline;
    }

    .experience-skills {
        grid-template-columns: 1fr;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .experience, .skills {
        grid-template-columns: 1fr;
        height: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .card-type1{
        padding: 3vw;
        width: 80%;
        border-radius: 5vw;
        font-size: 4vw;
    }

    .card-type1 p {
        font-size: 3.5vw;
    }

    .skills-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .skills-list ul {
        list-style: none;
    }

    .skills-list {
        width: 100%;
        text-align: center;
        height: auto;
        margin-top: 0;
        font-size: 4.5vw;
    }

    .experience-cards, .education-cards {
        gap: 5vw;
    }

    .education-proof {
        display: flex;
        flex-direction: column;
    }

    .proof-of-work {
        min-width: 90vw;
        max-width: 100%;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .education {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vw;
    }

    .project {
        width: 90%;
    }

    .project-image {
        width: 75%;
    }

    .project-language-logo {
        width: 25%;
        bottom: 0%; /* use + to move up and - to move down */
        right: 10%; /* use + to move left and - to move right */
        box-shadow: 0px 0px 2vw rgba(0, 0, 0, 1);
    }

    .project h3 {
        font-size: 7vw;
        margin-bottom: 5vw;
    }

    .project p {
        padding: 5%;
        border-left:rgb(150, 8, 8) 10px double;
        border-top: rgb(150, 8, 8) 10px double;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        font-size: 5vw;
    }

    .project .one {
        border-color: rgb(200, 10, 10);
    }

    .project .two {
        border-color: rgb(175, 9, 9);
    }

    .project-image {
        border-width: 5px;
    }

    .project-buttons {
        padding-top: 5vw;
        gap: 5vw;
    }
    
    .project-button {
        padding: 1vw 2vw;
        font-size: 4vw;
        background-color: rgb(120, 8, 8);
        border-radius: 1vw;
    }

    .project-button-taped-over {
        padding: 0vw 2vw;
        font-size: 4vw;
        background-color: rgb(120, 8, 8);
        border-radius: 1vw;
        border: 2vw solid pink;
        border-image: repeating-linear-gradient(
            -55deg,
            #000,
            #000 4vw,
            #ffb101 4vw,
            #ffb101 8vw
        ) 16;
    }

    .footer {
        font-size: 2.5vw;
    }

    .resume-icon {
        width: 15vw;
        height: 15vw;
        border-radius: 25%;
        border: white .5vw solid;
    }
}

@media (max-width: 576px) {

    .profile-box {
        height: auto;
        padding-bottom: 6vw;
    }

    .project-button-taped-over {
        border-image: repeating-linear-gradient(
            -55deg,
            #000,
            #000 4vw,
            #ffb101 4vw,
            #ffb101 8vw
        ) 12;
    }
}

@media (max-width: 480px) {

    .profile-box {
        height: auto;
        padding-bottom: 8vw;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
    }

    .project-button-taped-over {
        border-image: repeating-linear-gradient(
            -55deg,
            #000,
            #000 4vw,
            #ffb101 4vw,
            #ffb101 8vw
        ) 8;
    }
}