@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1vw; /* Base font size */
}

body{
    /* background-color: #af0f0f; */
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    /* background: rgb(157,110,16); */
    background: radial-gradient(circle, rgba(157,110,16,1) 0%, rgba(121,9,9,1) 35%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
}

main{
    padding: 1%;
    min-height: 100vh;
}

header{
    border: ridge 0.52vw White;
}

.header{
    width: 100%;
    height: auto;
    aspect-ratio: 7 / 1; /* Maintains aspect ratio so background image never leaks over borders */
    background-size: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000;
}

.header-content{
    margin: 0.52vw;
    width: 100%;
    height: 100%;
}

.portrait-box{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://image.freepik.com/free-vector/black-red-metal-background_71775-391.jpg);
    background-size: cover;
    background-clip: content-box;
    aspect-ratio: 3 / 1; /* Maintains aspect ratio so background image never leaks over borders */
}

.portrait{
    border: inset 0.52vw rgb(200, 0, 0);
    margin: auto;
    width: 10.42vw;
    height: 10.42vw;
    background-size: cover;
    border-radius: 50%;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSbYr8DEIDl5FPpz3uPrCMItkI6QSgTlY3cyDt0ww=s900-c-k-c0x00ffffff-no-rj); /* My Logo as a fallback */
}

.summary-text{
    padding-left: 0.78vw;
    padding-right: 0.78vw;
    font-size: 1.2vw;
}

.box{
    border-left: outset 0.52vw grey;
    border-bottom: outset 0.52vw grey;
    border-right: outset 0.52vw grey;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 95%;
    height: 37.04vh;
    padding: 0.78vw;
    margin: auto;
    font-size: 1.2vw;
}

.profile-text{
    font-size: 1.8vw;
}

.box2_header{
    border: outset 0.52vw white;
    background-size: cover;
    padding: 2.6vw;
    font-size: 1.5vw;
}

.box2-0{
    padding: 0.78vw;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2vw;
}

.box2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.content{
    height: 46.3vh;
    font-size: 1.2vw; /* Adjust font size */
}

.content2{
    height: 23.15vh;
    font-size: 1.2vw; /* Adjust font size */
}

.footer{
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2vw; /* Adjust font size */
}

#footer{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
    /* background: radial-gradient(circle, rgba(157,110,16,1) 0%, rgba(121,9,9,1) 35%, rgba(0,0,0,0) 100%); */
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    color: white;
    /* box-shadow: 0 46.3vh 0 46.3vh #000; */
}

.education-proof {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.52vw;
}

.education, .proof-of-work {
    padding: 0.78vw;
    font-size: 1.2vw; /* Adjust font size */
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
    }

    .portrait {
        width: 20.83vw;
        height: 20.83vw;
    }

    .box {
        height: 20vw;
    }

    .content {
        height: 46.3vw;
    }

    .content2 {
        height: 20.83vw
    }

    .footer {
        margin-left: 0;
        height: 5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}