@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fireColor1: #ff5000;
  --fireColor2: rgba(255,80,0,0);
  --fireDuration: 3s;
  --fireSize: 5vw;
  --blur: 0.4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

main a {
  width: 17vw;
  height: 12vw;
  margin: auto;
  padding: 1vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  font-style: italic;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  border: .5vw solid rgb(255, 255, 255);
  box-shadow: 0px 1vw 2vw 0px rgba(255,255,255,0.2);
  border-radius: 25%;
  color: white;
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 1;
  transition: transform .5s;
  user-select: none;
}

body {
  background-color: black;
  background-image: url("https://cutewallpaper.org/21/cool-red-and-black-background/Free-black-and-red-background-Images-Pictures-and-Royalty-.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "resume code-holder code-holder about-me"
    "the-blog code-holder code-holder reach-me";
}

#fire-container-one,
#fire-container-two,
#fire-container-three,
#fire-container-four {
  font-size: 2vw;
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
  position: relative;
  top: 13vw;
  left: 2.5vw;
  width: 23vw;
  height: 0;
  z-index: 0;
  pointer-events: none;
}

#fire-container-one .particle,
#fire-container-two .particle,
#fire-container-three .particle,
#fire-container-four .particle {
  animation: rise var(--fireDuration) ease-in;
  background-image: radial-gradient(var(--fireColor1) 30%, var(--fireColor2) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: var(--fireSize);
  height: var(--fireSize);
  pointer-events: none;
}

.button-container-one {
  margin: auto;
  grid-area: resume;
  justify-self: center;
  position: relative;
}

.button-container-one:hover #fire-container {
  display: block;
}

.button-container-one:hover .button.one {
  transform: scale(1.05);
}

.button-container-two,
.button-container-three,
.button-container-four {
  margin: auto;
  justify-self: center;
  position: relative;
}

.button-container-two:hover #fire-container,
.button-container-three:hover #fire-container,
.button-container-four:hover #fire-container {
  display: block;
}

.button-container-two:hover .button.two,
.button-container-three:hover .button.three,
.button-container-four:hover .button.four {
  transform: scale(1.05);
}

.button .two {
  grid-area: about-me;
  justify-self: center;
}

.button .three {
  grid-area: the-blog;
  justify-self: center;
}

.button .four {
  grid-area: reach-me;
  justify-self: center;
}

@keyframes slide-in {
  from {
    transform: translate(-30px, -30px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(30px, 30px);
    opacity: 0;
  }
}

.center-art {
  height: 40vw;
  width: 40vw;
  margin: auto;
  grid-area: code-holder;
  justify-self: center;
  align-self: center;
  background-image: url(../images/Holder3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: reletive;
}

.preview-icon {
  --animation-duration: 300ms;
  visibility: hidden;
  position: absolute;
  justify-self: center;
  align-self: center;
  inset: 0;
  top: 1vw;
  left: 1vw;
  opacity: 0;
  animation-duration: calc(var(--animation-duration) * 1ms);
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  width: 10vw;
  height: 10vw;
}

.preview-icon.active {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.preview-icon.fading-in {
  animation-name: slide-in;
}

.preview-icon.fading-out {
  animation-name: slide-out;
}

.footer {
  margin: auto;
  padding-top: 8%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  color: white;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}

@keyframes fly-away {
  0% {
    opacity: 1;
    filter: blur(1px);
  }

  100% {
    transform: scale(0.3);
    opacity: 0;
    filter: blur(20px);
    border-radius: 50%;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding: 5vw;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-style: italic;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  z-index: 1000;
}

#overlay p {
  font-size: 2.5vw;
  font-weight: 500;
}

.overlay-header {
  color: grey;
  font-size: 4vw;
  text-decoration: underline;
  font-weight: 700;
}

#overlay ul {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.underline {
  text-decoration: underline;
}

.sound-switch {
  position: fixed;
  top: 3.5vh;
  left: 15vw;
  display: flex;
  align-items: center;
  z-index: 1001;
}

.sound-toggle {
  display: none;
}

.sound-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 3vw;
  height: 1.5vw;
  background-color: white;
  border-radius: 2vw;
  position: relative;
  transition: background-color 0.3s;
}

.sound-toggle-label::before {
  content: '';
  position: absolute;
  top: 0.1vw;
  left: 0.1vw;
  width: 1.3vw;
  height: 1.3vw;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s;
}

.sound-toggle:checked + .sound-toggle-label::before {
  transform: translateX(1.5vw);
}

.sound-toggle-label .mute-icon,
.sound-toggle-label .unmute-icon {
  position: absolute;
  right: -2.5vw;
  font-size: 1.5vw;
  max-width: 2vw;
  max-height: 2vw;
  color: black;
  display: none;
  user-select: none;
}

.sound-toggle:checked + .sound-toggle-label .unmute-icon {
  display: block;
}

.sound-toggle:not(:checked) + .sound-toggle-label .mute-icon {
  display: block;
}

.sound-toggle-label .mute-icon img,
.sound-toggle-label .unmute-icon img {
  width: 2vw;
  height: 2vw;
  pointer-events: none;
}

#welcome-button {
  position: fixed;
  top: 1vh;
  left: 2vw;
  font-size: 2vw;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  background-color: black;
  border-radius: 25%;
  /* box-shadow: 0px 1vw 2vw 0px rgba(255,255,255,0.2); */
  color: rgb(50, 50, 50);
  cursor: pointer;
  padding: .45vw;
  z-index: 1001;
  user-select: none;
}

/* PHONE FORMAT */
@media (max-width: 768px) {
  .overlay-header::after {
    content: "Tap anywhere to continue";
  }
}

@media (min-width: 769px) {
  .overlay-header::after {
    content: "Click or press any key to continue";
  }
}

.button-container-one:hover #fire-container-one,
.button-container-two:hover #fire-container-two,
.button-container-three:hover #fire-container-three,
.button-container-four:hover #fire-container-four {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  z-index: 1001;
}