@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fireColor1: #ff5000;
  --fireColor2: rgba(255,80,0,0);
  --fireDuration: 3s;
  --fireSize: 5vw;
  --blur: 0.4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  width: 17vw;
  height: 12vw;
  margin: auto;
  padding: 1vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  font-style: italic;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  border: .5vw solid rgb(255, 255, 255);
  box-shadow: 0px 1vw 2vw 0px rgba(255,255,255,0.2);
  border-radius: 25%;
  color: white;
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 1;
  transition: transform .5s;
}

body {
  background-color: black;
  background-image: url("https://cutewallpaper.org/21/cool-red-and-black-background/Free-black-and-red-background-Images-Pictures-and-Royalty-.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "resume code-holder code-holder about-me"
    "the-blog code-holder code-holder reach-me";
}

#fire-container {
  font-size: 2vw;
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
  position: relative;
  top: 13vw;
  left: 2.5vw;
  width: 23vw;
  height: 0;
  z-index: 0;
  pointer-events: none;
}

#fire-container .particle {
  animation: rise var(--fireDuration) ease-in;
  background-image: radial-gradient(var(--fireColor1) 30%, var(--fireColor2) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: var(--fireSize);
  height: var(--fireSize);
  pointer-events: none;
}

.button-container-one {
  margin: auto;
  grid-area: resume;
  justify-self: center;
  position: relative;
}

.button-container-one:hover #fire-container {
  display: block;
}

.button-container-one:hover .button.one {
  transform: scale(1.05);
}

.button .two {
  grid-area: about-me;
  justify-self: center;
}

.button .three {
  grid-area: the-blog;
  justify-self: center;
}

.button .four {
  grid-area: reach-me;
  justify-self: center;
}

.center_art {
  height: 45vw;
  width: 45vw;
  margin: auto;
  grid-area: code-holder;
  justify-self: center;
  align-self: center;

  background-image: url(../images/CodeHolder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  margin: auto;
  padding-top: 8%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  /* Adjust font size */
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/837a1803-80cd-4dbf-b208-83c76f787602/ddwmxvk-ff6e8828-5de3-41b3-a340-31b01f181c81.png/v1/fill/w_1686,h_474,strp/binary_red___4k___dual_wallpaper_by_paintevil_ddwmxvk-pre.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  color: white;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}

@keyframes fly-away {
  0% {
    opacity: 1;
    filter: blur(1px);
  }

  100% {
    transform: scale(0.3);
    opacity: 0;
    filter: blur(20px);
    border-radius: 50%;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 5vw;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  z-index: 1000;
}

#overlay h1 {
  font-size: 4vw;
}

#overlay ul {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}