@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  border:none;
}

a {
    width:200px;
    height:55px;
    margin:30px;
    

    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size:1.7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    
    background-color: #050404;
    color:white;
    

    cursor:pointer;
    position:relative;
    z-index:3;
  }

a::before {
    content:'';
    position:absolute;
    width:200px;
    height:55px;
   
    top:0;
    left:0;
    
    transition: .5s linear; /* Defines how long the button effect will take place for. */
    
    
    z-index: -2;
}


a::after {
    content:'';
    position:absolute;
    background-color: #020303;
    
    width:200px;
    height:55px;

    top:0;
    left:0;
    z-index: -1;
}

/* hover effect */

a:hover::before
{
  filter:blur(5px);
  
}

a:hover::after
{
  border: 1px solid rgb(255, 0, 0);
}

.button:hover::before
{
  background:linear-gradient(45deg, #ff0707, #ff920c,#ffee00);
  transform: rotate(-4deg);
}
/* END of button highlight code */

body{
    background-color: black;
    background-image: url("https://cutewallpaper.org/21/cool-red-and-black-background/Free-black-and-red-background-Images-Pictures-and-Royalty-.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

main{
  display: grid;
  grid-template-columns: first-start 25% first-end mid-start auto mid-end last-start 25%;
  grid-template-rows: first-start 25% first-end mid-start auto mid-end last-start 25%;
}

/* #box1 {
    margin: auto;
    width: 500px;
    height: 250px;

    font-family: 'Poppins', sans-serif;
    text-size: 40px;
    text-align: center;

    color: white;
  } */

.button .one{
  grid-column-start: first-start;
  grid-column-end: first-end;
  grid-row-start: first-start;
  grid-row-end: first-end;
}

.button .two{
  grid-column-start: span last-start;
  grid-row-start: first-start;
  grid-row-end: first-end;
}

.button .three{
  grid-column-start: first-start;
  grid-column-end: first-end;
  grid-row-start: span last-start;
}

.button .four{
  grid-column-start: span last-start;
  grid-row-start: span last-start;
}

  #box2 {
    border: 15px outset rgb(95, 95, 95);
    border-radius: 75px;
    text-align: center;
    margin: auto;
    width: 900px;
    height: 900px;

    background-image: url(images/CodeHolder.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }

.footer{
    margin: auto;
    margin-left: 40%;
}

#footer{
    background-color: black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 275px 275px, 175px 175px, 125px 125px, 75px 75px;
    background-position: 0 0, 20px 30px, 65px 135px, 35px 50px;
    color: white;
    box-shadow: 0 50vh 0 50vh #000;
}

