@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

header a:hover {
  color: rgb(200, 45, 45);
}

.underline {
  text-decoration: underline;
}

/* Nav map icon and animations are all scalable. The only thing that needs to be adjusted is the "top", "right", and "font-size" properties under the .nav-map class to move the icon around and change the size. */
.nav-map {
  position: fixed;
  /* top: 1vw; */
  right: 3vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding: 0;
  margin: 0;
  gap: 0;
  z-index: 999;

  width: 8em;
  height: auto;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
}

.disappear-on-load {
  position: absolute;
  top: calc(50% - 1.25em);
  left: -16em;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  color: white;
  padding: .5em 1.5em;
  font-size: 1.25em;
  text-align: center;
  pointer-events: none;;
  z-index: 1001;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.nav-map-overflow-container {
  position: absolute;
  top: 0;
  right: 5em;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding: 0;
  margin: 0;
  gap: 0;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map-image {
  position: absolute;
  top: 0;
  right: -8em;
  
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-rolled-map-image {
  position: absolute;
  top: 0em;
  right: 0em;

  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map:after {
  content: "Map";
  position: absolute;
  /* top: 4.6em; */
  width: 8em;
  height: 3em;
  text-align: center;
  font-size: 1.5em;
  overflow: visible;
}

.nav-map-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  min-height: min-content;
  /* top: 10em; */
  background-color: rgba(0, 0, 0, .65);
  padding: 1em;
  border-radius: 20px;
  box-shadow: inset 0vw 0vw .5em .5em rgba(80, 80, 80, .5);
  margin: 0;
  align-items: flex-start;
  gap: .5em;
  opacity: 0;

  z-index: 1001;
  pointer-events: none;
  transition: all var(--transition-speed) ease-in-out;
}

.nav-map-list li {
  list-style: none;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  align-items: center;
  margin-inline: 0;
  gap: 0.5em;
}

.nav-map-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  background-size: cover;
  background-position: center;
  border-radius: 0.4em;
  flex-shrink: 0;
}

.nav-map-icon-home {
  background-image: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/svgs/solid/house.svg');
  background-size: 1.8em 1.8em;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.5);
  filter: invert(1);
}

/* MY Work Header */

.background-container-top {
  background: black;
}

.header-container {
  font-size: 1vw;
  margin-top: 3vw;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(117, 8, 8, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.header-container h1 {
  font-size: 10em;
  font-weight: 500;
  text-shadow: 0vw -1vw 1vw rgba(0, 0, 0, 1);
}

/* INTRODUCTION SECTION */
/* CREDIT: Stack container section code taken from www.joelperezdev.com */
/* Icons used were taken from devicon.dev. */
/* All listed technologies are included as a deliberate descision based on my personal familiarities and proficiencies. */

.introduction-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.introduction-content {
  margin: auto;
  margin-block: 5vw;
  padding-inline: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 1.5vw;
  background-image: url(../images/Background_Map_Alt.png);
  background-size: cover;
  background-position: center;
}

.introduction-section h3 {
  font-size: 2.5em;
  font-weight: 500;
  width: max-content;
}

.introduction-section p {
  margin: auto;
  text-align: left;
  font-size: .8em;
  font-weight: 300;
  text-align: left;
  line-height: 1.4em;
  margin: auto;
  padding: 0;
  padding-bottom: 3rem;
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
}

p .emphasise {
  font-weight: 500;
  font-style: italic;
  font-size: 1.5em;
}

.introduction-section .stack-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2.5em;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-image {
  width: 65px;
  height: 65px;
}

.devicon-github-original {
  font-size: 65px;
}

.icon-container p {
  margin: 0;
  font-size: 1.2em;
  padding: .5em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Specific image hovers */

.icon-container:after {
  content: attr(data-years);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0, 0);
  font-size: 1.2em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.icon-container:hover::after {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  transition: all 0.2s ease-in-out;
}

/* WORK LIST SECTION */

.background-container-bottom {
  background:
radial-gradient(hsl(0, 100%, 14%) 4%, hsl(0, 100%, 14%) 9%, hsla(0, 100%, 16%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 14%) 4%, hsl(0, 100%, 14%) 8%, hsla(0, 100%, 16%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 12%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 12%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 16%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 16%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 13%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 13%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;
}

.seemless-background-transition {
  font-size: 1vw;
  position: relative;
  padding-bottom: 33rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}

.gallary-garnish {
  position: absolute;
  margin: auto;
  padding: auto;
  width: 40rem;
  top: 7rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
}

.seemless-background-transition h2 {
  font-size: 10rem;
  font-weight: 200;
  text-shadow: 0vw -1vw 1vw rgba(0, 0, 0, 1);

  position: absolute;
  margin: auto;
  padding: auto;
  top: 15rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
}

.seemless-background-transition p {
  position: absolute;
  margin: auto;
  padding: auto;
  width: max-content;
  top: 30rem;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
  font-size: 1.2rem;
  color: rgb(255, 255, 255, .75);
}

/* TABS STYLES */

.project-tabs {
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0 0 0;
}

.project-tab {
  background: rgb(25, 8, 8);
  color: white;
  border: none;
  border-radius: 1em 1em 0 0;
  padding: 0.7em 2.5em;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: inset 0 0.3em 0.5em rgba(0,0,0,0.4);
  outline: none;
}

.project-tab.selected,
.project-tab:focus {
  background: rgb(150, 8, 8);
  color: white;
  font-weight: 700;
  box-shadow: 0 0.4em 1em rgba(200,64,64,0.2), inset 0 0.3em 0.5em rgba(0,0,0,0.4);
}

.project-tab:hover:not(.selected) {
  background: rgb(75, 4, 4);
}

.listed-project.hide {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}

.listed-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4vw;

  /* For the tabs */
  padding-top: 5vw;
  margin-inline: 6.25vw;
  border-radius: 5vw;
  border-block: rgb(150, 8, 8) .5em double;
}

.listed-project {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 88.5%;
  height: min-content;
  padding: 1vw;
  padding-top: 10vw;
  margin-bottom: 7.5vw;;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s cubic-bezier(.4,0,.2,1), transform 0.6s cubic-bezier(.4,0,.2,1);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* CREDIT: Picture frame styling code adapted from Saidel López at https://medium.com/@saishaddai/til-css-to-draw-a-frame-from-a-picture-2b0cfcf67c9a */

.listed-project-image-container {
  width: 100%;
  font-size: 1vw;  /* Only thing needing adjustment for changing thickness of frame. Maintains scalability for any size with one quick adjustment. */
  position: relative;
  display: inline-block; /* Ensures it only wraps around the content */

  background-color: #ddc;
  border: solid 2.5em #eee;
  border-radius: .5em;
  border-bottom-color: #fff; /* #fff (old colors for reference)*/
  border-left-color: #eee;  /* #eee */
  border-right-color: #eee; /* #eee */
  border-top-color: #fff; /* #ddd */
  box-shadow: .4em -.6em 1em 0 rgba(0, 0, 0, .25) inset, 1em -1.5em .5em .1em rgba(0, 0, 0, .25);

  box-sizing: border-box;
  margin: auto;
  aspect-ratio: 1 / 1;
  padding: 1.5em;
  position: relative;
  text-align: center;

  &:before {
    position: absolute;
    border-radius: .1em;
    bottom: -1.25em;
    box-shadow: .25em -.5em 1.25em 0 rgba(0, 0, 0, .25);
    content: "";
    left: -1.25em;
    right: -1.25em;
    top: -1.25em;
  }
  
  &:after {
    position: absolute;
    border-radius: .1em;
    bottom: -1.25em;
    box-shadow: .25em -.5em 1.25em 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -1.25em;
    right: -1.25em;
    top: -1.25em;
  }
}

/* CREDIT: String and nail styling code taken from an anonymous Fiddle user at https://jsfiddle.net/cybPh/ */

/* String */
.listed-project-image:before {
  border-left: .2em solid #222;
  border-top: .2em solid #222;
  /* border-radius: .3em; */
  box-shadow: -.1em -.2em .1em rgba(0, 0, 0, .3);
  content: '';
  height: 8.3em;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: -8.81em;
  translate: -50% 0;
  transform: rotate(45deg);
}

/* Nail */
.listed-project-image:after {
    background: #555;
    border-radius: 50%;
    box-shadow: inset 0 .1em .1em hsla(0, 0%, 100%, .3),
                .075em -.1em .4em hsla(0, 0%, 0%, .6);
    content: '';
    height: .6em;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -10.7em;
    translate: -50% 0;
}

.listed-project-image {
  width: 20em;
  aspect-ratio: 1 / 1;
  border-radius: 0%;
  background-size: cover;
  background-position: center;
  position: relative;
  border: solid .5em;
  border-bottom-color: #ccb;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ffe;
}

.listed-project-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2vw;
}

.listed-project p {
  text-align: left;
  font-size: 1em;
  line-height: 1.6em;
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
}

.listed-project-description {
  padding: 2%;
  padding-left: 5%;
  border-right:rgb(150, 8, 8) .5em double;
  border-top: rgb(150, 8, 8) .5em double;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.listed-project-name {
  font-size: 1.9em;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}

.listed-project-details {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
}

.further-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 500;
  color: rgb(155, 155, 155);
  text-shadow: .3vw -.3vw .5vw rgba(0, 0, 0, 1);
}

.further-detail-item {
  margin: auto;
  margin-left: 0;
  margin-top: 0;
}

.further-details li {
  display: flex;
  flex-direction: row;
}

.listed-project-language-logo {
  width: 1.3em;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  translate: .3em 0;
}

.spotify-logo {
  width: 1.2em;
  translate: .3em .15em;
}

.scratch-logo {
  margin-right: .3em;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: fit-content;
  justify-content: center;
  align-content: space-between;
  padding-inline: 1em;
  gap: 1em;
}
  
.project-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  height: 1.8em;
}

.project-button {
  padding: .5em .5em;
  font-size: .8em;
  font-weight: 200;
  font-style: italic;
  color: white;
  width: 100%;
  background-color: rgb(25, 8, 8);
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  box-shadow: -.4em .6em .5em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .5em 0 rgba(70, 70, 70, 0.25) inset, .1em -.15em .5em .1em rgba(0, 0, 0, .40);
  transition: all 0.2s ease-in-out;
}

.project-button:hover {
  font-size: .78em;
  box-shadow: -.4em .6em .3em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .3em 0 rgba(0, 0, 0, .25) inset, 0 0 .2em .1em rgba(0, 0, 0, .40);
  transition: all 0.3s ease-in-out;
}

/*// Glow Border Animation //*/

.project-button-glow, .project-button-container-glow {
  overflow: hidden;
  border-radius: 0.5em;
}

.project-button-container-glow {
  overflow: hidden;
  height: 2.025em;
  background-color: rgb(25, 8, 8);
  box-shadow: -.4em .6em .5em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .5em 0 rgba(70, 70, 70, 0.25) inset, .1em -.15em .5em .1em rgba(0, 0, 0, .40);
  filter: blur(0px);
  transition: all 0.2s ease-in-out;
}

.project-button-container-glow:hover {
  box-shadow: -.4em .6em .3em 0 rgba(0, 0, 0, .25) inset, .4em -.6em .3em 0 rgba(0, 0, 0, .25) inset, 0 0 .2em .1em rgba(0, 0, 0, .40);
  transition: all 0.3s ease-in-out;
}

.project-button-container-glow:hover .project-button-glow {
  font-size: .78em;
  transition: all 0.3s ease-in-out;
}

.project-button-container-glow:hover .project-button-glow:after {
  box-shadow: -.205em .405em .3em 0 rgba(0, 0, 0, .25) inset, .205em -.405em .3em 0 rgba(0, 0, 0, .25) inset;
  transition: all 0.3s ease-in-out;
}

.project-button-glow {
  font-size: .8em;
  font-weight: 500;
  color: white;
  width: 100%;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
}

.project-button-glow:before, .project-button-container-glow:before {
  content: '';
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 999px;
	height: 999px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: conic-gradient(rgba(0,0,0,0), #ff0000, rgba(0,0,0,0) 25%);
	animation: rotate 3s linear infinite;
}

.project-button-glow:after {
	content: 'Read More';
  text-align: center;
  font-weight: 200;
  font-style: italic;
  align-content: center;
	position: absolute;
	left: .195em; /* 5px on a 2k screen */
	top: .195em;
  /* double the px from the border width left */
	width: calc(100% - .39em); /* 10px */
	height: calc(100% - .39em);
  
	background: rgb(25, 8, 8);
  box-shadow: -.205em .405em .5em 0 rgba(0, 0, 0, .25) inset, .205em -.405em .5em 0 rgba(70, 70, 70, 0.25) inset;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

/*// Border Animation END//*/

/* FOOTER */

.footer {
  position: relative;
  z-index: 1001;
}

/* Media Queries for smaller screens */

/* TABLET FORMAT */

@media (max-width: 1200px) {
  .seemless-background-transition {
    padding-bottom: 55em;
  }

  .gallary-garnish {
    width: 50em;
    top: 15em;
  }
  
  .seemless-background-transition h2 {
    font-size: 12.5em;
    top: 1.9em;
  }
  
  .seemless-background-transition p {
    font-size: 1.5em;
    top: 28em;
  }

  .project-tabs {
    font-size: 1.7vw;
    gap: 1.5em;
  }

  .listed-project-description {
    border-right:rgb(150, 8, 8) .7em double;
    border-top: rgb(150, 8, 8) .7em double;
  }
}

@media (max-width: 992px) {
  .stack-container {
    width: 92vw;
  }
}

/* ANYTHING LARGER THAN PHONE */
@media (min-width: 769px) {
  .nav-map {
    top: 1vw;
  }

  .nav-map:after {
    top: 4.6em;
  }

  .nav-map-list {
    top: 10em;
  }

  .nav-map:hover .nav-map-overflow-container {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-map-image {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-rolled-map-image {
    right: -3em;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map:hover .nav-map-list {
    pointer-events: all;
    opacity: 1;
    transition: all var(--transition-speed) ease-in-out;
  }
  
  .nav-map-list li:hover {
    background-color: rgba(0, 0, 0, .5);
    color: rgb(200, 45, 45);
    transition: all 0.2s ease-in-out;
    cursor: default;
  }

  .github-button {
    padding-right: 1.8em;
  }

  .further-details {
    width: 70%;
  }
}

/* PHONE FORMAT */
@media (max-width: 768px) {
  .nav-map {
    font-size: 3vw;
    bottom: 0vw;
    right: 5vw;
  }

  .nav-map:after {
    bottom: 4.6em;
    height: auto;
    padding-top: 1em;
    text-shadow: -.1em -.1em rgba(0, 0, 0, 1), .1em -.1em rgba(0, 0, 0, 1), -.1em .1em rgba(0, 0, 0, 1), .1em .1em rgba(0, 0, 0, 1),
    0 -.1em rgba(0, 0, 0, 1), .1em 0 rgba(0, 0, 0, 1), -.1em 0 rgba(0, 0, 0, 1), 0 .1em rgba(0, 0, 0, 1);
  }

  .nav-map-list {
    bottom: 10em;
    right: -2vw;
  }

  .nav-map.hover-simulated .nav-map-overflow-container {
    right: 0;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-map-image {
    right: 0em;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-rolled-map-image {
    right: -3em;
    transition: all var(--transition-speed) ease-in-out;
  }

  .nav-map.hover-simulated .nav-map-list {
    pointer-events: all;
    opacity: 1;
    transition: all var(--transition-speed) ease-in-out;
  }

  .header-container {
    font-size: 1.8vw;
  }

  .introduction-content {
    font-size: 3vw;
  }

  .introduction-content p {
    font-size: 1em;
    line-height: 1.8em;
  }

  .seemless-background-transition {
    padding-bottom: 55em;
  }

  .gallary-garnish {
    width: 65em;
    top: 15em;
  }
  
  .seemless-background-transition h2 {
    font-size: 15em;
    top: 1.8em;
  }
  
  .seemless-background-transition p {
    font-size: 2em;
    top: 24em;
  }

  .project-tabs {
    font-size: 3vw;
    gap: 1em;
  }

  .project-tab {
    padding: .3em .7em;
    border-radius: .7em .7em 0 0;
  }

  .listed-projects {
    font-size: 3vw;
  }

  .listed-project {
    flex-direction: column;
    padding-top: 20vw;
    margin-bottom: 20vw;
  }

  .listed-project-link {
    margin-bottom: 5vw;
  }

  .listed-project-image-container {
    font-size: 2vw;
  }

  .listed-project-image {
    width: auto;
  }

  .listed-project-image:before {
    height: 11em;
    top: -10.16em;
  }
  
  .listed-project-image:after {
      height: .8em;
      top: -12.7em;
  }

  .listed-project-content {
    margin-left: 0vw;
  }

  .listed-project-description {
    padding: 4% 0% 4% 4%;  /* top right bottom left */
    border-left:rgb(150, 8, 8) .8em double;
    border-right: none;
    border-top:rgb(150, 8, 8) .8em double;
    border-top-left-radius: 0;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  
  .listed-project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .further-details {
    margin-bottom: 4vw;
  }

  .further-detail-item {
    margin-left: auto;
  }
  
  .project-button-container {
    width: 30%;
  }

  .project-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-block: 2vw;
    padding-inline: 0;
  }

  .project-button {
    font-size: .9em;
  }

  .project-button:hover {
    font-size: .88em;
  }

  .project-button-container-glow {
    width: 30%;
    height: 2.256em;
    margin-top: 0;
    padding-top: 0;
  }

  .project-button-glow {
    font-size: .9em;
  }
  
  .project-button-container-glow:hover .project-button-glow {
    font-size: .88em;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 576px) {
  .introduction-section .stack-container {
    font-size: 10px;
    gap: 0;
  }

  .icon-image {
    width: 40px;
    height: 40px;
  }

  .devicon-github-original {
    font-size: 40px;
  }
}